# Database Configuration
POSTGRES_DB=baiboly
POSTGRES_USER=baiboly
POSTGRES_PASSWORD=fF9L$7s_gH2!kPzQ_1aBxY_T3wE4R6uI0oP_secure

# Flask Backend Configuration
FLASK_ENV=production
SECRET_KEY=58e1ec670550bd3dc39bf5f19ba71f8fbafed06db6b2166ad52bb60a3b0ebdd6

# CORS Configuration (your domain)
CORS_ORIGINS=http://baiboly-fihirana.mnsite.ovh,https://baiboly-fihirana.mnsite.ovh

# API Configuration
VITE_API_URL=/api

# Domain (for SSL certificates)
DOMAIN=baiboly-fihirana.mnsite.ovh